/* Sections */
.section {
	padding-left: $spacing__medium;
	padding-right: $spacing__medium;
	//padding: $spacing__small $spacing__medium $spacing__medium $spacing__medium;
	@include bp-nav-switch() {
		//padding: $spacing__large $spacing__medium $spacing__larger $spacing__medium;
	}
	.section-inner {
		max-width: $size__content-max-width;
		@include center-block;
		width: 100%;
		p, ul, ol {
			@include font-size($font__size-smaller);
		}
		> *:last-child,
		.section-content > *:last-child {
			margin-bottom: 0;
		}
		
		&.section-inner-narrow {
			max-width: $size__content-max-width-narrow;
		}
	}
}

/* Features — Spacing */
.feature-dual-panel + .feature-general-content {
	//padding-top: $spacing__medium;
}

/* Feature — General Content */
.feature-general-content {
	padding-top: $spacing__large;
	padding-bottom: $spacing__large;
	@include bp-nav-switch() {
		padding-top: $spacing__larger;
		padding-bottom: $spacing__larger;
	}
	+ .feature-general-content {
		&:last-of-type {
			margin-top: 0;
		}
	}
	.section-inner {
		+ .section-inner {
			margin-top: $spacing__medium;
		}
	}
	.section-inner-narrow {
		text-align: center;
		&:first-of-type {
			margin-bottom: $spacing__larger;
		}
	}
	.section-subtitle {
		font-weight: $font__weight-normal;
		font-family: inherit;
		line-height: inherit;
	}
	&.with-tint-dark {
		background: $color__tone-80;
		color: #fff;
		* {
			color: #fff;
		}
		.btn {
			border-color: #fff;
			color: #fff;
			&:hover,
			&:focus {
				color: $color__tone-80;
				background: #fff;
			}
		}
	}
	&.with-tinted-feature {
		text-align: center;
		margin: 0 auto;
		position: relative;
		z-index: 1;
		.section-inner {
			background: $color__tone-20;
			padding: $spacing__larger $spacing__large $spacing__largest $spacing__large;
			margin-top: 0;
			margin-bottom: -$spacing__large;
			@include bp-nav-switch() {
				padding-left: $spacing__largest;
				padding-right: $spacing__largest;
			}
			&:before {
				content: "";
				display: block;
				margin: 0 auto $spacing__large auto;
				width: 40px;
				border-top: solid 5px;
				color: $color__brand-1;
			}
			&.section-inner-narrow {
				background: transparent;
				padding: 0;
				margin-top: 0;
				margin-bottom: 0;
				max-width: $size__content-max-width;
				&:before {
					content: none;
				}
			}
			h3 {
				@include font-size($font__size-h3);
				font-weight: $font__weight-bold;
				font-family: $font__headings;
				line-height: $font__line-height-tighter;
				position: relative;
				padding-left: 10%;
				padding-right: 10%;
				@include bp-nav-switch() {
					@include font-size($font__size-h2);
				}
				&:before {
				    content: "";
				    position: absolute;
				    z-index: -2;
				    background: $color__tone-20;
				    top: 0.5em;
				    bottom: 0;
				    right: 0;
				    left: 0;
				}
			}
			.btn {
				background-color: #fff;
				&:hover,
				&:focus {
					color: #fff;
					background: $color__tone-80;   
				}
			}
		}
	}
	h2 {
		//@include font-size($font__size-h2);
		@include bp-nav-switch() {
			//@include font-size($font__size-h1);
		}
		+ h3 {
			@include font-size($font__size-smaller);
		}
	}
	.with-two-columns {
		@include bp-small() {
			columns: 2;
			column-gap: $spacing__largest;
		}
	}
}


/* Feature — Dual Panel */
.feature-dual-panel {
	overflow: hidden;
	padding-top: $spacing__medium;
	padding-bottom: $spacing__medium;
	@include bp-nav-switch() {
		padding-bottom: $spacing__larger;
		padding-top: $spacing__larger;
	}
	.section-inner {
		position: relative;
		z-index: 1;
	}
	.section-title {
		letter-spacing: -0.02em;
		color: inherit;
		line-height: 1.1;
		margin-left: -0.06em;
		@include font-size($font__size-h2);
		font-size: 7.4vw;
		@include bp-nav-switch() {
			letter-spacing: -0.035em;
		}
		@include bp-desktop() {
			@include font-size(5.5625);
		}
		&:before {
			content: "";
			position: absolute;
			z-index: -2;
			background: $color__brand-1-mid;
			top: $spacing__smaller;
			bottom: 0;
			right: -100%;
			left: -100%;
			width: 300%;
		}
	}
	.section-title-half {
		max-width: 85%;
	}
	.section-content {
		position: relative;
		padding-bottom: $spacing__larger;
		//margin-top: $spacing__largest;
		margin-top: $spacing__large;
		&:before {
			content: "";
			display: block;
			margin-bottom: $spacing__large;
			width: 40px;
			border-top: solid 5px;
			//position: absolute;
			//top: -$spacing__larger;
		}
		.section-image {
			display: block;
			padding-bottom: 66.666%;
			margin-bottom: $spacing__medium;
			background-position: center 35%;
			background-size: 100% 100%;
			.bgsizecover & {
				background-size: cover;
			}
			&.section-image-portrait {
				padding-bottom: 100%;
				max-width: 480px;
			}
		}
		.btn {
			margin-top: $spacing__medium;
		}
	}
	@include bp-small() {
		padding-bottom: $spacing__largest;
		
		.section-title-half {
			max-width: 7.9em;
		}
		.section-content {
			position: relative;
			padding-bottom: $spacing__largest;
			padding-right: 55%;
			.section-image {
				padding-bottom: 0;
				margin-bottom: 0;
				position: absolute;
				right: 0;
				left: 50%;
				top: $spacing__smallest;
				bottom: -$spacing__larger;
				z-index: 2;
				&.section-image-portrait {
					padding-bottom: 0;
					max-width: none;
				}
				&.section-image-edge {
					width: 50vw;
					left: 50%;
					right: auto;
					top: 0;
					//top: -7em;
					z-index: -1;
					max-width: 900px;
				}
			}
			&.section-content-right {
				padding-right: 0;
				padding-left: 55%;
				.section-image {
					right: 50%;
					left: 0;
					&.section-image-edge {
						left: auto;
						right: 50%;
					}
				}
			}
		}
	}
	&.with-tint-right {
		.section-title {
			&:before {
				left: -36%;
				.cssvwunit & {
					left: -15vw;
				}
			}
		}
	}
	&.with-tint-left {
		.section-title {
			&:before {
				left: auto;
				right: -36%;
				.cssvwunit & {
					right: -15vw;
				}
			}
		}
	}
	&.with-tint-dark {
		.section-title {
			&:before {
				background: $color__tone-80;
			}
			color: $color__brand-1;
		}
		color: #fff;
		* {
			color: #fff;
		}
		.btn, button, input[type="button"], input[type="reset"], input[type="submit"] {
			border-color: #fff;
			color: #fff;
			&:hover,
			&:focus {
				//border-color: $color__brand-1;
				//color: $color__brand-1;
				color: $color__tone-80;
				background: #fff;
			}
		}
	}
	
}

/* Icon Titles */
.icon-title {
	@include font-size($font__size-body);
	text-transform: uppercase;
	text-align: center;
	+ .section-subtitle {
		color: inherit;
		margin-top: $spacing__smaller;
	}
	&:before {
		width: 40px;
		height: 40px;
		display: block;
		background: url(img/sprite.png);
		background-size: auto 200%;
		margin: 0 auto $spacing__smaller auto;
	}
	
	&.icon-people {
		color: inherit;
		&:before {
			content: "";
			background-position: 60% 0;
		}
	}
	&.icon-devices {
		&:before {
			content: "";
			background-position: 70% 0;
		}
	}
	&.icon-gears {
		&:before {
			content: "";
			background-position: 80% 0;
		}
	}
	&.icon-network {
		color: inherit;
		&:before {
		width: 60px;
		height: 60px;
			content: "";
			background-position: 100% 0;
			background-size: auto 100%;
		}
	}
	
	+ p {
		text-align: center;
	}
}



/* Feature - Galleries — Image Grid */
.feature-image-grid {
	.col {
    	margin: 0 auto;
		.display-table & {
			padding: 0;
		}
		.col-content {
			height: 200px;
			width: 100%;
			text-align: center;
		}
		.display-table & {
			display: table;
			.col-content {
			    display: table-cell;
			    vertical-align: middle;
			}
		}
		img {
			max-height: 160px;
			max-width: 100%;
			height: auto;
			width: auto;
			margin: 0 auto;
		}
		text-align: center;
		padding: 0 $spacing__medium;
		@include bp-col-switch() {
			padding: $spacing__smaller $spacing__medium;
			&.logo-pmplogo,
			&.logo-sdhomeimprovementslogo {
				padding: $spacing__smaller $spacing__smallest;
			}
		}
	}
}

/* Feature - Expander (drop-down list) */
.feature-expander {
	list-style: none;
	padding: 0;
	> li {
		padding: $spacing__medium 0;
		border-top: solid 1px $color__brand-1;
		&:last-child {
			border-bottom: solid 1px $color__brand-1;
		}
		@include bp-medium() {
			border-bottom: solid 1px $color__brand-1;
		}
	}
	ul {
		color: $color__brand-1;
		padding: 0 0 0 ($spacing__small + $spacing__smaller);
		margin: 0;
		li {
			padding: 0;
			&:first-child {
				padding-top: $spacing__medium;
			}
		}
	}
	h3 {
		@include font-size($font__size-h3);
		@include bp-medium() {
			min-height: 2.275em;
		}
		@include bp-nav-switch() {
			@include font-size($font__size-h2);
		}
		margin-bottom: 0;
		color: $color__text-body;
	}
	.expander-expanded {
		h3 {
			color: $color__brand-1;
		}
	}
	.js & {
		ul {
			display: none;
		}
		> li h3:hover {
			cursor: pointer;
			color: $color__brand-1;
		}
	}
	#page & {
		margin-bottom: $spacing__large;
		@include bp-medium() {
			margin-bottom: $spacing__largest;
	
			> li {
				float: left;
				width: 30%;
				margin-right: 5%;
				&:first-child {
					width: 31%;
				}
				&:last-child {
					width: 28%;
					margin-right: 0;
				}
			}
		}
		@include bp-nav-switch() {
			> li {
				float: left;
				width: 31%;
				margin-right: 4%;
				&:first-child {
					width: 33%;
				}
				&:last-child {
					width: 28%;
					margin-right: 0;
				}
			}
			h3 {
				@include font-size(2.6875);
				letter-spacing: -0.035em;
			}
		}
	}
}

/* Carousels (Owl Carousel plugin) */
.owl-carousel {
	padding: 0 50px;
	list-style: none;
	@include bp-medium() {
		padding: 0 100px;
	}
	.owl-controls {
		position: absolute;
		top: 50%;
		width: 100%;
		left: 0;
		height: 36px;
		margin-top: -18px;
		.owl-prev,
		.owl-next {
			position: absolute;
			width: 36px;
			height: 36px;
			background: url(img/sprite.png) 40% 0;
			background-size: auto 200%;
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
			background-position: 50% 0;
		}
		@include bp-medium() {
			margin-top: -37px;
			height: 74px;
			.owl-prev,
			.owl-next {
				width: 74px;
				height: 74px;
			}
		}
	}
	.owl-nav .disabled {
	    opacity: 0.2;    
	}
	
	&.owl-carousel-variable {
		.owl-item {
			vertical-align: middle;
		}
		.item {
			max-width: 200px;
			@include bp-medium() {
				max-width: none;
			}
		}
		&:after {
			content: "";
			position: absolute;
			right: 50px;
			width: 25px;
			top: 0;
			bottom: 0;
			background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
			@include bp-medium() {
				right: 100px;
				width: 50px;
			}
		}
	}
	&.owl-slideshow {
		text-align: center;
		padding-bottom: $spacing__larger;
		@include bp-nav-switch() {
			padding-bottom: $spacing__largest;
		}
		.owl-item {
			vertical-align: top; 
		}
		.owl-controls {
			top: $spacing__large;
			@include bp-medium() {
				top: $spacing__largest;
			}
		}
		.slide-count {
			display: block;
			@include font-size($font__size-h2);
			@include bp-small() {
				@include font-size($font__size-h1);
				letter-spacing: -0.02em;
			}
			@include bp-nav-switch() {
				@include font-size(5.5625);
				letter-spacing: -0.035em;
			}
			font-family: $font__headings;
			font-weight: $font__weight-bold;
			color: $color__brand-1;
			line-height: $font__line-height-tighter;
			&:before {
				content: "";
				display: block;
				margin: 0 auto 10px auto;
				width: 40px;
				border-top: solid 5px;
				color: $color__brand-1;
			}
			&:after {
				content: "";
				display: block;
				margin: 5px auto 40px auto;
				width: 40px;
				border-bottom: solid 5px;
				color: $color__brand-1;
				@include bp-medium() {
					margin-top: 0;
				}
			}
		}
		p {
			max-width: $size__content-max-width-narrow;
			margin: 0 auto;
		}
	}
	
}


/* Feature - Galleries — Slideshow */
.feature-general-content.with-gallery {
	position: relative;
	z-index: 1;
	.slideshow-container {
		position: relative;
		.section-title {
			text-align: center;
			color: inherit;
			max-width: 18em;
			padding-left: $spacing__small;
			padding-right: $spacing__small;
			margin-left: auto;
			margin-right: auto;
			@include bp-small() {
				@include font-size($font__size-h3);
			}
			@include bp-nav-switch() {
				@include font-size($font__size-h2);
			}
			&:before {
				content: "";
				position: absolute;
				background: #fff;
				bottom: 0;
				top: 0.55em;
				right: 18px;
				left: 18px;
				z-index: -1;
				@include bp-nav-switch() {
					right: 37px;
					left: 37px;
				}
			}
		}
	}
	.slideshow-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background-position: top center;
		background-size: 100% 100%;
		.bgsizecover & {
			background-size: cover;
		}
		@include bp-small() {
			border-bottom: $color__brand-1 solid $spacing__largest*2;
		}
	}
}


/* Feature - Circles List (e.g. Join Our Network page) */
.circles-list {
	padding: 0;
    margin: 0 auto;
    text-align: center;
	list-style: none;
    width: 18em + ($spacing__smaller * 4);
	@include bp-mobile-landscape() {
		width: 24em + ($spacing__smaller * 4);
	}
	@include bp-large() {
		width: 60em + ($spacing__smaller * 10);
	}
    li {
		background-size: 100% 100%;
		.bgsizecover & {
			background-size: cover;
		}
		width: 9em;
		height: 9em;
		@include bp-mobile-landscape() {
			width: 12em;
			height: 12em;
		}
		padding: $spacing__small + $spacing__smallest;
		margin: 0 $spacing__smaller $spacing__small $spacing__smaller;
		font-size: 1em;
		font-family: $font__headings;
		font-weight: $font__weight-bold;
		line-height: $font__line-height-tight;
	    border-radius: 50%;
		transform-style: preserve-3d;
		position: relative;
		overflow: hidden;
		float: left;
		&:before {
			border-radius: 50%;
			overflow: hidden;
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $color__tone-80;
		}
		&:hover,
		&:focus {
			&:before {
				opacity: 0;
				transition: $transition__opacity;
			}
			p {
				opacity: 0;
				transition: $transition__opacity_fast;
			}
		}
	    //display: flex;
	    //align-items: center;
		//justify-content: center;
		p {
			position: relative;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
			margin: 0;
			.section-inner & {
				@include font-size($font__size-smallest);
				@include bp-mobile-landscape() {
					@include font-size($font__size-smaller);
				}
			}
		}
    }
}