body {
	background: $color__tone-0;
}
#page {
	background: $color__tone-0;
}

::-moz-selection { background-color: rgba(mix($color__text-body, $color__brand-1), 0.35)}
::selection { background-color: rgba(mix($color__text-body, $color__brand-1), 0.35); }


@import "typography";
@import "links";
@import "tables";
@import "header";
@import "menus";
@import "content";
@import "footer";
@import "page-specific";



/*

.circles-list {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	li {
		line-height: $font__line-height-tight;
		font-family: $font__headings;
		font-weight: $font__weight-bold;
		border-radius: 50%;
		background: $color__tone-40;
		float: left;
		width: 12em;
		height: 12em;
		padding: 0 $spacing__medium;
		margin-right: $spacing__medium;
		margin-bottom: $spacing__medium;
	    display: flex;
	    align-items: center;
		justify-content: center;
		&:nth-child(2n+1) {
			clear: left;
		}
		p {
			margin: 0;
		}
	}
}

.feature-clients-grid {
	.col {
		display: table;
		.col-content {
		    display: table-cell;
		    vertical-align: middle;
			height: 200px;
			width: 100%;
		}
		img {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
		text-align: center;
		padding: $spacing__smaller $spacing__medium;
	}
}



*/


.feature-expander {
	list-style: none;
	padding: 0;
	> li {
		padding: $spacing__medium 0;
		border-top: solid 1px $color__brand-1;
		&:last-child {
			border-bottom: solid 1px $color__brand-1;
		}
		@include bp-medium() {
			border-bottom: solid 1px $color__brand-1;
		}
	}
	ul {
		color: $color__brand-1;
		padding: 0 0 0 ($spacing__small + $spacing__smaller);
		margin: 0;
		li {
			padding: 0;
			&:first-child {
				padding-top: $spacing__medium;
			}
		}
	}
	h3 {
		@include font-size($font__size-h2);
		margin-bottom: 0;
		color: $color__text-body;
	}
	.js & {
		ul {
			display: none;
		}
		> li h3:hover {
			cursor: pointer;
			color: $color__brand-1;
		}
	}
	#page & {
		@include bp-medium() {
	
			> li {
				float: left;
				width: 30%;
				margin-right: 6%;
				&:first-child {
					width: 34%;
				}
				&:last-child {
					width: 24%;
					margin-right: 0;
				}
			}
		}
		@include bp-col-switch() {
			> li {
				float: left;
				width: 31%;
				margin-right: 4%;
				&:first-child {
					width: 33%;
				}
				&:last-child {
					width: 28%;
					margin-right: 0;
				}
			}
			h3 {
				@include font-size(2.6875);
				letter-spacing: -0.035em;
			}
		}
	}
}