body {
	background: $color__tone-0;
}
#page {
	background: $color__tone-0;
}

::-moz-selection { background-color: rgba(mix($color__text-body, $color__brand-1), 0.35)}
::selection { background-color: rgba(mix($color__text-body, $color__brand-1), 0.35); }


@import "typography";
@import "links";
@import "tables";
@import "header";
@import "menus";
@import "content";
@import "footer";
@import "page-specific";

.feature-general-content.with-gallery {
	position: relative;
	z-index: 1;
	.slideshow-container {
		position: relative;
		.section-title {
			text-align: center;
			color: inherit;
			max-width: 18em;
			padding-left: $spacing__small;
			padding-right: $spacing__small;
			margin-left: auto;
			margin-right: auto;
			@include bp-nav-switch() {
				@include font-size($font__size-h2);
			}
			&:before {
				content: "";
				position: absolute;
				background: #fff;
				bottom: 0;
				top: 0.55em;
				right: 18px;
				left: 18px;
				z-index: -1;
				@include bp-nav-switch() {
					right: 37px;
					left: 37px;
				}
			}
		}
	}
	.slideshow-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
}
.circles-list {
	padding: 0;
    margin: 0 auto;
    text-align: center;
	list-style: none;
    display: inline-block;
    
    li {
		border-radius: 50%;
		font-size: 1em;
		line-height: $font__line-height-tight;
		margin: 0 $spacing__small $spacing__medium $spacing__small;
		width: 12em;
		height: 12em;
		padding: $spacing__small;
		float: left;
		font-family: $font__headings;
		font-weight: $font__weight-bold;
		transform-style: preserve-3d;
		
	    display: flex;
	    align-items: center;
		justify-content: center;
		/*&:nth-child(2n+1) {
			clear: left;
		}
		*/
		position: relative;
		overflow: hidden;
		background-size: 100% 100%;
		.bgsizecover & {
			background-size: cover;
		}
		&:before {
			border-radius: 50%;
			overflow: hidden;
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $color__tone-80;
		}
		&:hover,
		&:focus {
			&:before {
				opacity: 0;
				transition: $transition__opacity;
			}
			p {
				opacity: 0;
				transition: $transition__opacity_fast;
			}
		}
		p {
			position: relative;
			z-index: 1;
			.no-flex & {
				top: 50%;
				transform: translateY(-50%);
			}
			margin: 0;
		}
    }
}


