body {
	background: $color__tone-0;
}
#page {
	background: $color__tone-0;
}

@import "typography";
@import "links";
@import "tables";
@import "header";
@import "menus";
@import "content";
@import "footer";
@import "page-specific";

.section {
	.section-inner {
		max-width: $size__content-max-width;
		@include center-block;
		width: 100%;
	}
}