/* Footer  */
.section.site-footer {

	text-align: center;
	color: #fff;
	background: $color__brand-1;
	padding: $spacing__medium;
	
	.col {
		@include font-size($font__size-smaller);
		&:first-child {
			br {
				display: block;
			}
		}
		&:last-child {
			margin-top: $spacing__medium;
			text-transform: uppercase;
		}
	}

	@include bp-small {
		.col {
			&:first-child {
				br {
					display: none;
				}
			}
		}
	}

	@include bp-col-switch {
		text-align: left;
	
		.col {
			line-height: 43px;
			&:last-child {
				text-align: right;
				margin-top: 0;
			}
		}
	}

	a {
		color: #fff;
	}
}