.site-header {
	padding-top: $spacing__small;
	padding-bottom: $spacing__small;
	@include bp-nav-switch() {
		padding-top: $spacing__large;
		//padding: $spacing__large $spacing__medium $spacing__larger $spacing__medium;
	}
		
	.main-navigation {
		.menu-main-menu-container .menu {
			padding: $spacing__large 0;
		}
	}
	
	
	@include bp-nav-switch() {
		
		.section-inner {
			position: relative;
		}
		
		.main-navigation {
			position: absolute;
			bottom: 6px;
			right: 0;
			width: auto;
			.menu-main-menu-container .menu {
				padding: 0;
			}
		}
		
	}
	.site-branding {
		width: 126px;
		height: 56px;
			width: 194px;
			height: 86px;
		display: block;
		background: url(img/logo.png) no-repeat;
		background-size: 100% 100%;
		@include bp-nav-switch() {
			width: 194px;
			height: 86px;
		}
		* {
			margin: 0;
		}
	}
	
	.social-links {
		margin: 0;
		padding: 0;
		list-style: none;
	    position: absolute;
	    top: $spacing__small;
	    right: 7em;
	    @include bp-nav-switch() {
	    	top: -$spacing__small;
			right: -$spacing__smallest;
	    }
		
		li {
			display: inline-block;
			vertical-align: middle;
			a {
				display: block;
				width: 34px;
				height: 34px;
				background: url(img/sprite-2.png);
				background-size: auto 200%;
				background-position: 0 100%;
			}
			&:first-child {
				//margin-right: $spacing__small;
			}
			&.social-link-linkedin {
				//margin-left: $spacing__small;
				margin-right: $spacing__smaller;
				a {
					background-position: 10% 100%;
				}
			}
		}
	}
	
}