.site-header {
	
		
	.main-navigation {
		.menu-main-menu-container .menu {
			padding: $spacing__large 0;
		}
	}
	
	
	@include bp-nav-switch() {
		
		.section-inner {
			position: relative;
		}
		
		.main-navigation {
			position: absolute;
			bottom: 6px;
			right: 0;
			width: auto;
			.menu-main-menu-container .menu {
				padding: 0;
			}
		}
		
	}
	.site-branding {
		width: 126px;
		height: 55px;
		display: block;
		background: url(img/logo.png) no-repeat;
		background-size: 100% 100%;
			width: 194px;
			height: 85px;
		@include bp-nav-switch() {
			width: 194px;
			height: 85px;
		}
		* {
			margin: 0;
		}
	}
	
}