.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			
			text-align: center;
			
			a {
				text-transform: uppercase;
				display: inline-block;
				padding: $spacing__small ($spacing__small + $spacing__smallest);
				line-height: 1;
				text-decoration: none;
				color: inherit;
				@include font-size($font__size-smallprint);
			}
			
			&:last-child {
				a {
					@include bp-nav-switch() {
						margin-right: -($spacing__small + $spacing__smallest);
					}
				}
			}
		
			&:hover > a,
			&:focus > a,
			> a:focus,
			&.current_page_item > a,
			&.current-menu-item > a,
			&.current_page_ancestor > a,
			&.current-menu-ancestor > a {
				position: relative;
				outline: none;
				&:after {
					content: "";
					height: 10px;
					position: absolute;
					bottom: 0.5em;
					right: $spacing__smallest;
					left: $spacing__smallest;
					background: rgba($color__brand-1, 0.25);
				}
			}
			
		}
	}

	/* Mobile Menu - Menu Toggle */
	.menu-toggle {
		display: none;
		
		.js & {
			display: block;
			@include bp-nav-switch {
				display: none;
			}
		}
		border-radius: 0;
		position: absolute;
		top: $spacing__large;
		right: $spacing__large;
		width: 18px;
		//height: $spacing__medium;
		line-height: 1.5;
		background: transparent;
		border: 0;
	    text-align: left;
	    width: 2.75em;
	    padding: 0 26px 0 0;
	    box-sizing: content-box;
	    border-color: transparent;
	    background: transparent !important;
		font-weight: bold;
		color: $color__link;		
		@include font-size($font__size-smallprint);
		text-transform: uppercase;
		font-family: $font__headings;

		&:before {
			position: absolute;
			top: 1px;
			right: 0;
			width: 18px;
			height: 3px;
			content: "";
			background: $color__link;
			box-shadow: 0 5px 0 0 $color__link, 0 10px 0 0 $color__link;
		}
		
		&:hover,
		&:focus,
		&:active {
			background: transparent;
			outline: none;
		}
		
	}
	
	/* Mobile Menu */
	.js & {
			
		ul {
			
			display: none;
			
			@include bp-nav-switch {
		
				display: block;
			
			}
		
		}
		
		&.toggled {
		
			ul {
		
				display: block;
			
				ul {
				
					display: none;
				
				}
	
				li:hover ul,
				li:focus ul {
					
					display: block;
					
				}
			
			}
			
		}
	
	}
	
	
	/* Desktop Menu */
	@include bp-nav-switch {
		
		ul {
			
			padding: 0;
			
			li {
				float: left;
				position: relative;
			
			}
			
		}
	}
	
	
}
