/* Home page */
.home {
	.feature-dual-panel {
		.section-title-half {
			@include bp-small() {
				max-width: 11em;
			}
		}
		.section-content:before {
			color: $color__brand-1;
		}
		.section-title:before {
			top: $spacing__small + $spacing__small;
		}
	}
}

/* Our Services page */
.page-id-5 {
	.feature-dual-panel {
		&:first-of-type {
			.section-title {
				&:before {
					top: $spacing__small + $spacing__small;
				}
				&.section-title-half {
					@include bp-small() {
						max-width: 9em;
					}
				}
			}
			@include bp-small() {
				.section-content {
					&.section-content-right .section-image.section-image-edge {
						top: -($spacing__largest + $spacing__medium);
					}
				}
			}
		}
	}
}

/* Join Our Network page */
.page-id-7 {

	.feature-dual-panel {
		&:first-of-type {
			padding-bottom: 0;
			&.with-tint-dark .section-title {
				color: $color__text-body;
				&:before {
					background-color: $color__brand-1;
				}
				@include bp-small() {
					margin-left: 25%;
				}
				&.section-title-half {
					max-width: 7em;
				}
			}
			@include bp-small() {
				padding-top: $spacing__largest;
				.section-content {
					position: static;
					&.section-content-right .section-image.section-image-edge {
						top: -$spacing__larger;
						bottom: 10em;
						background-repeat: no-repeat;
						background-position: 65% center;
						@include bp-large() {
							background-position: right center;
						}
					}
				}
			}
			@include bp-small() {
				z-index: 3;
				position: relative;
				+ .with-gallery {
					position: relative;
					padding-top: ($spacing__largest * 3.2);
					margin-top: -($spacing__largest * 2.5);
					//margin-bottom: -($spacing__largest * 2.5);
					z-index: 2;
					+ .section {
						//padding-top: ($spacing__largest * 3.2);
						position: relative;
						z-index: 1;
					}
				}
			}
		}
		&:last-of-type {
			padding-bottom: 0;
			background: $color__brand-1;
			.section-title:before {
				top: 0;
			}
			.section-content:before {
				color: $color__tone-80;
			}
			@include bp-small() {
				.section-content {
					.section-image.section-image-edge {
						top: -$spacing__larger;
						bottom: $spacing__largest;
					}
				}
			}
		}
	}
	.with-gallery {
			//padding-bottom: ($spacing__largest * 3.2);
	}
	.feature-general-content {
		&.with-tint-dark {
			background-color: $color__brand-1;
			h2 {
				color: $color__text-body;
			}
		}
		
	}
}

/* How We Work page */
.page-id-9 {
	.feature-dual-panel {
		.section-title {
			color: $color__brand-1;
			&:before {
				top: $spacing__small + $spacing__small;
			}
		}
		@include bp-small() {
			//padding-top: $spacing__largest;
			.section-content {
				position: static;
				.section-image.section-image-edge {
					top: $spacing__largest - $spacing__small;
					bottom: $spacing__largest;
				}
			}
		}
	}
}

/* Our Clients page */
.page-id-11 {
	.feature-dual-panel {
		&:first-of-type {
			@include bp-small() {
				.section-content {
					.section-image.section-image-edge {
						top: -($spacing__largest + $spacing__medium);
					}
				}
			}
		}
	}
}

/* About page */
.page-id-13 {
	.feature-dual-panel {
		&:first-of-type {
			.section-title {
				&:before {
					top: $spacing__small + $spacing__small;
				}
			}
		}
		.section-content {
			margin-top: $spacing__largest + $spacing__medium;
			&:before {
				position: absolute;
				top: -$spacing__larger;
			}
		}
	}
}

/* Get In Touch page */
.page-id-15 {
	.feature-dual-panel {
		&:last-child {
			padding-bottom: 0;
		}
		.section-content .section-image {
			bottom: $spacing__largest;
		}
	}
}

/* Blog */
.blog-archives, .blog-single {
		
}	
.blog-archives {
	
}
.blog-single {
	
}

/* 404 Page */
.error-404 {

	.site-main {
		
		text-align: center;
		min-height: 20em;
		
	}
	
}