button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.btn:visited {
	border: $border__width-button solid;
	border-color: $color__text-body;
	background: transparent;
	border-radius: $border__radius-button;
	color: $color__text-body;
	@include font-size($font__size-smaller);
	text-decoration: none;
	font-weight: $font__weight-bold;
	line-height: 1.2;
	padding: $spacing__forms-button-padding;
	text-shadow: 0;
	transition: $transition__all_fast;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;

	+ button,
	+ input[type="button"],
	+ input[type="reset"],
	+ input[type="submit"],
	+ .btn,
	+ .btn:visited {
		margin-left: $spacing__small;
	}
	position: relative;
	overflow: hidden;
	&:before {
		//height: 0;
		//transition: $transition__all;
		//content: "";
		//position: absolute;
		//left: 0;
		//right: 0;
		//bottom: 0;
		//background: $color__brand-1;
		//opacity: 0.5;
	}

	&:hover {
		border-color: $color__brand-1;
		color: $color__brand-1;
		//position: relative;
		&:before {
			//height: 100%;
		}
	}

	&:active,
	&:focus {
		outline: none;
	}

	/*&.brand-1 {
		border-color: $color__brand-1-light;
		background: $color__brand-1-light;
		color: $color__tone-100;

		&:hover {
			border-color: $color__brand-1-mid;
			background: $color__brand-1-mid;
		}

		&:active,
		&:active,
		&:focus {
			border-color: $color__tone-0;
			background: $color__brand-1;
			color: $color__tone-0;
		}
	}*/

}

form {
	margin-bottom: $spacing__medium;
	width: 100%;
	
	legend {
		width: 100%;
	}
	fieldset {
		
		border: none;
		padding: 0;
		margin: 0;

	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
	color: $color__tone-60;
	border: $border__width-site solid $color__brand-1;
	border-radius: $border__radius-input;
	//margin-bottom: $spacing__medium;
	display: block;
	width: 100%;
	//max-width: 18em;
	outline: none;
	-webkit-appearance: none;

	&:focus {
		color: $color__tone-100;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
	padding: $spacing__forms-input-padding;
}

textarea {
	width: 100%;
	//max-width: 25em;
}
	
::-webkit-input-placeholder {
   color: $color__text-inputs;
}
::-moz-placeholder {  // Firefox 19+ 
   color: $color__text-inputs;
}
:-ms-input-placeholder {  
   color: $color__text-inputs;
}